@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;0,600;1,500;1,600&display=swap');

body {
  margin: 0;
  padding: 20px;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F5FB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 6px;
  background-color: #FFF;
}

::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #7038A7;
}

